<div th:fragment="navbar">
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3b3b3b;">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Cliente</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cadastroCliente">Cadastro Cliente</a></li>
            <li><a class="dropdown-item" href="/listarCliente">Listar Cliente</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Vendedor</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cadastroVendedor">Cadastro Vendedor</a></li>
            <li><a class="dropdown-item" href="/listarVendedor">Listar Vendedor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Produto</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cadastroProduto">Cadastro Produto</a></li>
            <li><a class="dropdown-item" href="/listarProduto">Listar Produto</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
</div>