 <!doctype html>
<html lang="pt-br">

<head> 
    <title>Cadastro Vendedor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body th:with="currentPage='cadastroCliente'">
<header>
    <!-- place navbar here -->

    <div th:include="modulos/navbar :: navbar"></div>

</header>
<main>
    <div class=" row g-3 text-info bg-azul shadow p-3 mb-5 rounded">
        <h2>Cadastro de Vendedor</h2>
        <div class="container ">
            <form method="POST">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" th:value="${vendedor.usuario}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" th:value="${vendedor.email}" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="senha" name="senha"  th:value="${vendedor.senha}"required>
                        <button class="btn btn-outline-secondary" type="button" id="mostrarSenhaBtn" onclick="alternarMostrarSenha()">
                            Mostrar
                        </button>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-2 ">Cadastrar</button>
            </form>
        </div>
    </div>

</main>
<footer>
    <!-- place footer here -->
    <div th:include="modulos/footer :: footer"></div>
</footer>

<script>



</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/script.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html> 