<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cep</title>
</head>
<body>

<form method="post">

    <label>CEP</label>
    <input type="text" id="cep"><br>
    <label>Logradouro</label>
    <input type="text" id="logradouro"><br>
    <label >Complemento</label>
    <input type="text" id="complemento"><br>
    <label >Bairro</label>
    <input type="text" id="bairro"><br>
    <label>Número</label>
    <input type="text" id="numero"><br>
    <label >Cidade</label>
    <input type="text" id="cidade"><br>
    <label >UF</label>
    <input type="text" id="uf"><br>

</form>
<hr>
<div id="result"></div>


<script src="/static/cep.js"></script>


</body>
</html>